.profile {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 20px 212px;
}

.description {
  padding: 30px;
  border-radius: 6px 6px 0 0;
  background-color: #f0dcc3;
}

.avatar {
  border-radius: 50%;
  background-color: #bdb7b7;
}

.name {
  margin: 0;
  font-weight: 700;
}

.stats {
  display: flex;
  justify-content: center;

  margin: 0;
  padding-left: 0;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  border: solid 2px grey;

  padding: 0 30px;
  background-color: #92d0e9;
}

.label {
  margin-bottom: 10px;
}

.quantity {
  font-size: 50px;
}
